In [376]:
def getTableTeuerung(df_roh):
    schnittmarken = df_roh[df_roh['Teuerung'] == 'STTE'].index

    df_teuerung = df_roh[schnittmarken[0]:schnittmarken[1]]
    df_teuerung = df_teuerung.dropna(how='any')
    df_teuerung.columns = df_teuerung.iloc[0]

    l1 = df_teuerung.iloc[0].to_list()
    l2 = df_teuerung.iloc[1].to_list()
    columns = list(zip(l1,l2))
    df_teuerung.columns = columns
    df_teuerung = df_teuerung.iloc[2:]
    return df_teuerung

In [377]:
def getTableIndex(df_roh):
    schnittmarken = df_roh[df_roh['Teuerung'] == 'STTE'].index
    
    df_index = df_roh[schnittmarken[1]:schnittmarken[2]]
    df_index = df_index.dropna(how='any')
    df_index.columns = df_index.iloc[0]

    l1 = df_index.iloc[0].to_list()
    l2 = df_index.iloc[1].to_list()
    columns = list(zip(l1,l2))
    columns = [x[0] + '_' + str(x[1]) for x in columns]
    df_index.columns = columns
    df_index.columns = columns
    df_index = df_index.iloc[2:]
    df_index = df_index.sort_values(by='STTE_ZI', ascending=False)
    
    return df_index

In [378]:
def getTableDurchschnitt(df_roh):
    schnittmarken = df_roh[df_roh['Teuerung'] == 'STTE'].index
    
    df_durchschnitt = df_roh[schnittmarken[2]:]
    df_durchschnitt = df_durchschnitt.dropna(how='any')
    df_durchschnitt.columns = df_durchschnitt.iloc[0]

    l1 = df_durchschnitt.iloc[0].to_list()
    l2 = df_durchschnitt.iloc[1].to_list()
    columns = list(zip(l1,l2))
    columns = [x[0] + '_' + str(x[1]) for x in columns]
    df_durchschnitt.columns = columns
    df_durchschnitt = df_durchschnitt.iloc[2:]
    return df_durchschnitt

In [379]:
def getTable1():
    df_roh = pd.read_excel('data/Daten_Mietpreise.xlsx')
    df = getTableIndex(df_roh)
    columns = ['STTE_ZI', 'Total_1', 'Total_2', 'Total_3', 'Total_4', 'Total_5', 'Total_Total']

    df = df[columns]
    df.index = df['STTE_ZI']
    df = df.sort_index(ascending=False)
    df = df.iloc[:5].transpose()#print()
    df.columns = df.iloc[0]
    df = df.iloc[1:]
    df = df.reset_index()
    df['index'] = indexneu[1:]
    df.columns = [x for x in df.columns]
    df['index'] = df['index'].apply(lambda x: x.split('_')[1] + ' Zimmer')
    df['index'] = df['index'].apply(lambda x: x.replace('Total Zimmer', 'Total'))
    df.index = df['index']
    del df['index']
    df.columns = ['November ' + str(x) for x in df.columns]
    
    for column in df.columns:
        df[column] = 100 * df[column]
    
    # Veränderung berechnen. 
    df['Veränderung in %'] = 100 - 100 * df.iloc[:,1] / df.iloc[:,0]
    
    # Werte auf eine Nachkommastelle runden.
    
    return(df)

In [380]:
def getChart1():
    df_roh = pd.read_excel('data/Daten_Mietpreise.xlsx')
    df = getTableIndex(df_roh)
    columns = ['STTE_ZI', 'Total_1', 'Total_2', 'Total_3', 'Total_4', 'Total_5', 'Total_Total']

    df = df[columns]
    
    df.columns = ['Jahr', '1 Zimmer', '2 Zimmer', '3 Zimmer', '4 Zimmer', '5 Zimmer', 'Total']
    df.set_index('Jahr', inplace=True, drop=True)
    return(df)

In [382]:
getChart1()

      1 Zimmer  2 Zimmer  3 Zimmer  4 Zimmer  5 Zimmer     Total
Jahr
2022   1.17808  1.280502  1.245748  1.193797  1.169476  1.243142
2021  1.171964  1.265422  1.230985  1.176602  1.155118  1.229186
2020  1.162472  1.247224    1.2148   1.16263  1.156024  1.214896
2019  1.139984  1.231584  1.213914  1.162943  1.152379  1.208993
2018  1.127132  1.209365  1.196698  1.145241  1.140732  1.191533
2017  1.118335  1.197808  1.184432  1.139092  1.129977  1.181176
2016  1.105587  1.191585   1.17395  1.135718   1.12172  1.173724
2015  1.096795  1.178722  1.159099  1.124883  1.103984  1.160174
2014  1.094317  1.168442   1.14437  1.120943  1.092246  1.150094
2013  1.088141  1.146977  1.134189  1.109721  1.095279  1.139077
2012  1.082783  1.138225   1.12442  1.106488  1.088859  1.131994
2011  1.083021  1.138006  1.119443  1.103628  1.103757  1.129349
2010  1.071952  1.124155   1.11482  1.092873  1.098351  1.119489
2009  1.058719  1.102303  1.101831  1.087039  1.088249  1.105819
2008  1.040258  1.080649  1.079272  1.062642  1.066912  1.078919
2007  1.031949  1.053409  1.053718  1.031828  1.041891  1.050066
2006   1.01988  1.030303  1.029934  1.012568  1.032389   1.02854
2005  0.999805  1.013702  1.010684  1.000684  1.020261  1.009166
2004  0.993002  1.006516  1.002334  0.995058  1.008729  1.000314